body {
  color: #E1C699;
}

hr {
  margin-top: 3px;
}

.about_page {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-left: 70px;
  margin-right: 70px;
}

#about_nainoa {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.skill_icons {
  font-size: 45px;
  margin: 5px 10px 0 10px;
}

/* individual icon styling */
#js_icon {
  font-size: 40px;
}