body {
  background: #1e130c;  
  background: -webkit-linear-gradient(to left, #9a8478, #1e130c); 
  background: linear-gradient(to left, #9a8478, #1e130c);
}

#nvLogo {
  position: relative;
  top: 0px;
  max-width: 150px;
}

.navLinks {
  text-decoration: none;
  text-align: center;
  color: white;
  display: inline-flex;
  justify-content: space-between;
  margin: 15px 10px;
  padding: 3px 3px;
  float: right;
  color: #11FFBD;
  font-size: 18px;
  transition: color 0.3s;
  background: black;
  border-radius: 3px;
}

.navLinks:hover {
  color: white;
}
.navLinks:after {
  transition: 0.2s
}

.homeText {
  color: #11FFBD;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  font-family: 'Montserrat', sans-serif;
}

#nainoaText {
  font-size: 80px;
  margin: 0px;
  /* background-color: grey; */
}

#seText {
  font-size: 80px;
  /* background-color: grey; */
  
}

#portfolioText {
  font-size: 70px;
  margin: 0px;
  /* background-color: grey; */
}





