#contact_page {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px 10px;
}

#contactMeText {
  text-align: center;
  text-shadow: 3px 3px 3px black;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: bolder;
  font-style: italic;
}

.form-control {
  background-color: #E1C699;
}

.row {
  margin: 8px 0;
}


#sendBtn {
  margin: 5px 0;
  background-color: black;
  color: #E1C699;
  border-radius: 10px;
}