.card {
  margin: 0 5px;
}
.card-body {
  background-color: black;
}

.card-footer {
  background-color: black;
}

.projectsText {
  text-align: center;
  color: #E1C699;
}

.siteLink {
  margin: 0 75px;
}

a {
  text-decoration: none;
  color: #D8BCAB;
  transition: color 0.5s ease;
}

a:hover {
  color: white;
}

#hambaguImg {
  max-width: 500px;
}

#anitrackImg {
  max-width: 500px;
}